<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qr.shimloaf.spicyclamatapp">

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MenuActivities.HomeScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MENU ACTIVITIES-->
        <activity
            android:name=".MenuActivities.GamerScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".MenuActivities.TimerScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".MenuActivities.SuggestionScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MenuActivities.ToolsScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MenuActivities.CreditsScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!-- TIMER SUB-ACTIVITIES-->
        <activity android:name=".TimerActivities.StandardTimerScreen" />
        <activity android:name=".TimerActivities.StopwatchTimerScreen" />
        <activity android:name=".TimerActivities.HalfLifeTimerScreen" />
        <activity android:name=".TimerActivities.TenInSixtyTimerScreen" />

        <!-- TOOL SUB-ACTIVITIES -->
        <activity android:name=".ToolActivities.BuzzerScreen" />
        <activity android:name=".ToolActivities.NotesScreen" />

    </application>

</manifest>